.idea
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*.iml
*.ipr
/.classpath
/.idea/
/.project
/.settings
/bootstrap5-modules.iml
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
repository.xml.generated
target
